@font-face {
  font-family: Rubik;
  src: url('./fonts/Rubik-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Rubik;
  src: url('./fonts/Rubik-Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: Rubik;
  src: url('./fonts/Rubik-Bold.ttf');
  font-weight: bold;
}