@import "./typography";
@import './fonts';
@import './@theme/components/index.scss';

:root {
  --primary-color: #605bfc;
  --gray-color : #6A6A83;
  --light-gray-color : #9E9EAF;
  --very-light-gray-color : #F7F7FA;
  --body-bg:#f4f4f7;

}
html {
  direction: rtl;
  // font-size: 85%;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  // font-family: Rubik;
  // font-weight: normal;
}
