.bd-basic-table{
     table {
        border-collapse: separate;
    }


    thead {
        background-color: var(--body-bg);
        border: 0;
        .MuiTableCell-root {
            border-bottom: 0;
            font-size: 18px;
            color: var(--gray-color);
        }


    }

    tbody {
        tr {
            background-color: white;
        }

        td {
            font-weight: bold;
            font-size: 1rem;
        }

        tr:first-child {
            td:first-of-type {
                border-top-right-radius: 15px;
            }

            td:last-of-type {
                border-top-left-radius: 15px;
            }
        }

        tr:last-child {
            td:first-of-type {
                border-bottom-right-radius: 15px;
            }

            td:last-of-type {
                border-bottom-left-radius: 15px;
            }
        }

        .MuiTableRow-root:last-child {
            .MuiTableCell-root {
                border-bottom: 0;
            }
        }

         .MuiTableRow-root{
            position: relative;
        }



        .MuiTableCell-root{
            border-bottom: 0;
            position: relative;
        }

        .MuiTableRow-root:not(:last-of-type){
.MuiTableCell-root::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #E9E9F0;
            bottom: 0;
            position: absolute;
            right: 0;
        }

        .MuiTableCell-root:first-of-type::after{
            width: calc(100% - 24px);
            right: auto;
            left: 0;
        }

        .MuiTableCell-root:last-of-type::after{
            width: calc(100% - 24px);
            right: 0;
            left: auto;
        }
        }


    }

    .MuiTableCell-root {
        font-family: inherit;
        padding: 16px 24px;
    }

    .MuiTableSortLabel-icon{
        order: -1;
    }
}